.calculator-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    width: 100%;
    max-width: 360px;
    background-color: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.buttons {
    margin-top: 10px;
}

.buttons button {
    font-size: 20px;
}
.btn-spacing {
    margin: 3px;
}


    